.view {
    -fx-background-color: cadetblue;
}

.pane {
    -fx-background-image: url("rubik.png");
    -fx-background-size: 300 300;
    -fx-background-repeat: no-repeat;
}

.label {
    -fx-font-size: 1.6em;
    -fx-text-fill: white;
}